$color:(
    Ing:#3282f7,
    App:#68D9A4,
    Ust:#ED6454,
);
@mixin input (){
    height: 3rem;
    padding: 1rem;
    font-size: 1.1rem;
    color: white;
    //border-radius: 0.3rem;
}
@mixin line-clamp($lines, $line-height) {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    max-height: $lines * $line-height;
    text-overflow: ellipsis;
    overflow: hidden;
}
::placeholder{
    color: white;
    opacity: 1;
}
html{
    padding: 3%;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
a{
    cursor: pointer;
}
li{
    cursor: pointer; 
    font-size: 1.2rem;
    & p{
        margin: 0;
    }
}
#form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
input{
    border: none;
    border-radius: 0.3rem;
    margin-right: 1rem;
}
#recherche{
    background-color: #E7E7E7;
    width: 94%;
    height: 3rem;
    padding-left: 1rem; 
    &::placeholder{
        color: black;
        opacity: 0.5;
    }
}
.loupe{
    position: absolute;
    font-size: 1.7rem;
    margin: 0.6rem 0 0 0; 
    right: 10%;
}
#boxTagsActifs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}
.etiquette{
    display: flex;
    flex-direction: row;
    width: auto;
    padding-left: 1rem;
    color: white;
    border-radius: 0.5rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.croix{
    color: white;
    font-size: 1.5rem;
    margin: 0.8rem 1rem 0 1rem ;
    cursor: pointer;
}
.Ing{
    background-color: map-get($map: $color, $key:Ing );
}
.App{
    background-color: map-get($map: $color, $key:App );
}
.Ust{
    background-color: map-get($map: $color, $key:Ust );
}
#boxZoneDesInputs{
    display: flex;
    flex-direction: row;
}
#ingredients ,#appareil ,#ustensiles{
    @include input()
    
}
.fa-chevron-up{
    color: white; 
    font-size: 2rem;
    transform:rotate(180deg);
    margin: 1.5rem 0 0 0;
    position: absolute;
    &Ing{
        margin-left: 12rem;
        
    }
    &App{ 
        margin-left: 28rem; 
    }
    &Ust{
        margin-left: 45rem;
    }
}
.listeTagsChoix{
    margin: 0;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    position: absolute;
    border-radius: 0 0 0.5rem 0.5rem;
    color: white;

}
.elementListe{
    width: 11rem;
    margin-top:0.5rem ;
}
#listeIng{
    background-color: map-get($map: $color, $key:Ing );
    margin-top: 5rem; 
    width: 33rem;
    max-height: 19rem;
    min-height: 4rem;
    overflow: hidden;
    display: none;
    
}
#listeApp{
    background-color: map-get($map: $color, $key:App );
    margin-top:5rem;
    width: 13.65rem;
    height: 30rem;
    margin-left: 16.6rem;
    display: none;
}
#listeUst{
    background-color: map-get($map: $color, $key:Ust );
    margin-top:5rem;
    width: 30rem;
    height: 30rem;
    margin-left: 33.25rem;
    display: none;
}
#listeRecette{
    width: 100%;
}
#boxRecette{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.recette{
    width: 30%;
    min-width: 400px;
    height: 450px; 
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-top: 2rem;
    border-radius: 0.5rem; 
    overflow: hidden;
    &__Vide{
        width: 100%;
        height: 50%;
        background-color: #C7BEBE;
    }
    &__Info{
        background-color: #E7E7E7;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        height: 50%;
    }
    &__TitreTemps{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__BoxTemps{
        display: flex;
        flex-direction: row;
    }
    &__clock{
        margin-top: 1rem;
        margin-right: 1rem;
    }
    &__IngProces{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    &__Ingredients{
        width: 50%;
        font-size: 0.8rem; 
        line-height: 14px;
    }
    &__Proces{
        width: 50%; 
        font-size:1rem; 
    }
    &__descrip{
        margin: 0;
        @include line-clamp(6, 1.25rem)
    }
}  