::placeholder {
  color: white;
  opacity: 1;
}

html {
  padding: 3%;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  cursor: pointer;
}

li {
  cursor: pointer;
  font-size: 1.2rem;
}
li p {
  margin: 0;
}

#form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  border-radius: 0.3rem;
  margin-right: 1rem;
}

#recherche {
  background-color: #E7E7E7;
  width: 94%;
  height: 3rem;
  padding-left: 1rem;
}
#recherche::placeholder {
  color: black;
  opacity: 0.5;
}

.loupe {
  position: absolute;
  font-size: 1.7rem;
  margin: 0.6rem 0 0 0;
  right: 10%;
}

#boxTagsActifs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.etiquette {
  display: flex;
  flex-direction: row;
  width: auto;
  padding-left: 1rem;
  color: white;
  border-radius: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.croix {
  color: white;
  font-size: 1.5rem;
  margin: 0.8rem 1rem 0 1rem;
  cursor: pointer;
}

.Ing {
  background-color: #3282f7;
}

.App {
  background-color: #68D9A4;
}

.Ust {
  background-color: #ED6454;
}

#boxZoneDesInputs {
  display: flex;
  flex-direction: row;
}

#ingredients, #appareil, #ustensiles {
  height: 3rem;
  padding: 1rem;
  font-size: 1.1rem;
  color: white;
}

.fa-chevron-up {
  color: white;
  font-size: 2rem;
  transform: rotate(180deg);
  margin: 1.5rem 0 0 0;
  position: absolute;
}
.fa-chevron-upIng {
  margin-left: 12rem;
}
.fa-chevron-upApp {
  margin-left: 28rem;
}
.fa-chevron-upUst {
  margin-left: 45rem;
}

.listeTagsChoix {
  margin: 0;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  position: absolute;
  border-radius: 0 0 0.5rem 0.5rem;
  color: white;
}

.elementListe {
  width: 11rem;
  margin-top: 0.5rem;
}

#listeIng {
  background-color: #3282f7;
  margin-top: 5rem;
  width: 33rem;
  max-height: 19rem;
  min-height: 4rem;
  overflow: hidden;
  display: none;
}

#listeApp {
  background-color: #68D9A4;
  margin-top: 5rem;
  width: 13.65rem;
  height: 30rem;
  margin-left: 16.6rem;
  display: none;
}

#listeUst {
  background-color: #ED6454;
  margin-top: 5rem;
  width: 30rem;
  height: 30rem;
  margin-left: 33.25rem;
  display: none;
}

#listeRecette {
  width: 100%;
}

#boxRecette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recette {
  width: 30%;
  min-width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.recette__Vide {
  width: 100%;
  height: 50%;
  background-color: #C7BEBE;
}
.recette__Info {
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 50%;
}
.recette__TitreTemps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recette__BoxTemps {
  display: flex;
  flex-direction: row;
}
.recette__clock {
  margin-top: 1rem;
  margin-right: 1rem;
}
.recette__IngProces {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.recette__Ingredients {
  width: 50%;
  font-size: 0.8rem;
  line-height: 14px;
}
.recette__Proces {
  width: 50%;
  font-size: 1rem;
}
.recette__descrip {
  margin: 0;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  max-height: 7.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
